<!DOCTYPE html>
<html lang="en">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<body>
<div class="fullpage">
  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class=""></h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
   <div class="">
   
      



   </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- <a class="navbar-brand text-brand" style="padding-left: 479px;" routerLink="">Willow</a> -->

    
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->



  <!--/ Intro Single star /-->

  
        <!-- <section>
            <div class="row" >
              <div style="margin-top: 15px;"class="col-md-6 col-lg-6">
                <mat-label >Select Search</mat-label>
                    <mat-select [(value)]="option" (selectionChange)="getSeletedOption()">
                      <mat-option *ngFor="let option of searchOptions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-select>
              </div>
                <div *ngIf="optionEntered" class="col-md-6 col-lg-6" >
                    <mat-label>Enter {{option}}</mat-label>
                    <input matInput [(ngModel)]="queryValue" (keyup.enter)="getQueryData()">
                 
                </div>

                <div class="form-group"  >
                  <label>Enter {{option}}</label>
                  <input type="text" class="form-control-increase" matInput [(ngModel)]="queryValue" (keydown.enter)="$event.preventDefault();" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                </div>
            </div>

         </section> -->
            
       
     




 
  
  
  <div class="row">
    <div class= col-md-6> <!-- FilterNav-->
        
  
 
        <div class="container">
          <nav class="navbar navbar-expand-lg  static-top">
            <div class="container">
              <div class="form-inline active-cyan-2 active-cyan-2">
                <i class="fas fa-search" aria-hidden="true"></i>
               
                  <div class="md-form mt-0 waves-light" mdbWavesEffect>
                    <input type="text" class="form-control mr-sm-2"  matInput [(ngModel)]="queryValue" (keydown.enter)="$event.preventDefault();" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                
                  </div>
              </div>

          
            </div>

                 
      <div class="row"  style=" margin-left: 34px;">
        <form class="filter" [formGroup]="myForm">
          <p style="margin-bottom: 0px;">Filter by Price</p>

          <select name="Price" formControlName="filterProduct">
            <label>Filter by</label>
            <option  *ngFor="let k of PriceFilter; let i = index;"
              [ngValue]="getValue(i)">
              {{ getValue(i).displayText }}
            </option>
          </select>
        </form>
    
     


      </div>
 
          </nav>
         
          <agm-map class="map"  [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [fullscreenControl]='true' [mapTypeControl]='true' >
            <ng-container *ngFor="let m of markers; let i = index">
     
              <agm-marker  [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"   (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [iconUrl]="m.icon" *ngIf="m.isShown">
                   <agm-info-window>
                      <div>{{m.content}}</div>
                  </agm-info-window>
       
              </agm-marker>
       
          </ng-container>
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
        
          
        <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius" [fillColor]="'red'"
        [circleDraggable]="true" [editable]="false" (dragEnd)="radiusDragEnd($event)"
        (radiusChange)="event('radiusChange',$event)">
    </agm-circle>
         </agm-map>
          <h5>Address: {{address}}</h5>
          <div>Latitude: {{latitude}}</div>
          <div>Longitude: {{longitude}}</div>
        </div>

      </div>
     <div class="col-md-6  "> 
       
    

                     
      
    <div class="row card-group scrollbar force-overflow" id="style-2">
          
                      
      <div class="col-6" (click)="openDialog(house)"  *ngFor="let house of filteredProducts">
        <div class="cardShadow" >
         <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
        </div>   
         <div class="card-body">
                <div style="clear:both">
                  
                     <h4 class="lineone">{{house.Price|json}}</h4>
                     <h6 class="linetwo">Bed:{{house.Beds|json}}| Bath:{{house.Bath|json}}|{{house.Sqft|json}}</h6>
                    </div>
                    <div>
                    <p class="linetwo ">{{(house.Address|json)}}</p></div>

               </div>
        </div>
      </div>
    </div>
  </div> 
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>


</div>
</body>
</html>


