<!doctype html>
<html lang="en" >
  <head>
    <meta charset = "UTF-8" />
</head>
<h5 class="card-header info-color white-text text-center py-4">
  <strong>Register your Home with Willow</strong>
</h5>
<div class="jumbotron"  >
  <div class="container" >
        <section >
          

        <div style="margin-top:5;" class="card-header-form" style="background-color: #007bff4a;/* overflow: auto; */border: #1d7786a6;">
            <form #homeRegister="ngForm" (ngSubmit)="homeRegister.form.valid && onSubmit(homeRegister)" novalidate >
                <div class="form-row" >
                  <div class="col-md-3 mb-3">
                    
                        <label for="sel1">Home-Type</label>
                        <select [(value)]="option" (Onchange)="getSeletedOption()" class="form-control" id="sel1">
                          <option *ngFor="let option of homeType" [value]="option">{{option}}</option>
                         
                        </select>

                       
                                    
                       </div>
                    

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault01">Price</label>
                      <input class="form-control" name="price" type="number"  [(ngModel)]="model.price" #price="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && price.invalid }" required />
                      <div *ngIf="homeRegister.submitted && price.invalid" class="invalid-feedback">
                          <div *ngIf="price.errors.required">Price is required</div>
                      </div>
                  </div>
                       
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault02">ZipCode</label>
                    <input class="form-control" name="zipcode" type="number"  onKeyPress="if(this.value.length==6) return false"  [(ngModel)]="model.zipcode" #zipcode="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && zipcode.invalid }" required />
                    <div *ngIf="homeRegister.submitted && zipcode.invalid" class="invalid-feedback">
                        <div *ngIf="zipcode.errors.required">zipcode is required</div>
                    </div>
                </div>
                    
                    
                </div>
                     <div class="form-row" >
                      <div class="col-md-3 mb-3">
                    <label for="validationDefault03">Garage</label>
                    <input class="form-control" name="garageSqft" type="number"   [(ngModel)]="model.garageSqft" #garageSqft="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && garageSqft.invalid }" required />
                    <div *ngIf="homeRegister.submitted && garageSqft.invalid" class="invalid-feedback">
                        <div *ngIf="garageSqft.errors.required">Garage Value is required</div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault04">Basement Sq Ft</label>
                  <input class="form-control" name="basementSqft" type="number"   [(ngModel)]="model.basementSqft" #basementSqft="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && basementSqft.invalid }" required />
                  <div *ngIf="homeRegister.submitted && basementSqft.invalid" class="invalid-feedback">
                      <div *ngIf="basementSqft.errors.required">Basement Value is required</div>
                  </div>
              </div>
                     
                      <div class="col-md-3 mb-3">
                        <label for="validationDefault05">Finished Sq Ft</label>
                        <input class="form-control" name="finishedSqft" type="number"   [(ngModel)]="model.finishedSqft" #finishedSqft="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && finishedSqft.invalid }" required />
                  <div *ngIf="homeRegister.submitted && finishedSqft.invalid" class="invalid-feedback">
                      <div *ngIf="finishedSqft.errors.required">Finished Sq Ft is required</div>
                  </div>
                      </div> 
                      </div> 


                       <div class="form-row" >

                        <div class="col-md-3 mb-3">
                          <label for="validationDefault06">FullBath</label>
                          <input class="form-control" name="fullBaths" type="number"   [(ngModel)]="model.fullBaths" #fullBaths="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && fullBaths.invalid }" required />
                    <div *ngIf="homeRegister.submitted && fullBaths.invalid" class="invalid-feedback">
                        <div *ngIf="fullBaths.errors.required">FullBath is required</div>
                    </div>
                        </div> 

                        <div class="col-md-3 mb-3">
                          <label for="validationDefault07">Beds</label>
                          <input class="form-control" name="beds" type="number"   [(ngModel)]="model.beds" #beds="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && beds.invalid }" required />
                    <div *ngIf="homeRegister.submitted && beds.invalid" class="invalid-feedback">
                        <div *ngIf="beds.errors.required">Bed is required</div>
                    </div>
                        </div> 

                        <div class="col-md-3 mb-3">
                          <label for="validationDefault08">Lot size</label>
                          <input class="form-control" name="lotSizeInSqft" type="number"   [(ngModel)]="model.lotSizeInSqft" #lotSizeInSqft="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && lotSizeInSqft.invalid }" required />
                    <div *ngIf="homeRegister.submitted && lotSizeInSqft.invalid" class="invalid-feedback">
                        <div *ngIf="lotSizeInSqft.errors.required">Lot Size is required</div>
                    </div>
                        </div> 
                      
                      </div> 
                   <div class="form-row" >
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault09">Year Built</label>
                      <input class="form-control" name="yearBuilt" type="number"  onKeyPress="if(this.value.length==4) return false" min="1970" max="2020"  [(ngModel)]="model.yearBuilt" #yearBuilt="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && yearBuilt.invalid }" required />
                <div *ngIf="homeRegister.submitted && yearBuilt.invalid" class="invalid-feedback">
                    <div *ngIf="yearBuilt.errors.required">Year Built is required</div>
                </div>
                    </div> 

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault10">Structure Remodel Year</label>
                      <input class="form-control" name="structureRemodelYear" type="number"  onKeyPress="if(this.value.length==4) return false" min="1970" max="2020"  [(ngModel)]="model.structureRemodelYear" #structureRemodelYear="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && structureRemodelYear.invalid }" required />
                <div *ngIf="homeRegister.submitted && structureRemodelYear.invalid" class="invalid-feedback">
                    <div *ngIf="structureRemodelYear.errors.required">Remodel Year is required</div>
                </div>
                    </div> 

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault11">HOA</label>
                      <input class="form-control" name="hoa" type="number" [(ngModel)]="model.hoa" #hoa="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && hoa.invalid }" required />
                <div *ngIf="homeRegister.submitted && hoa.invalid" class="invalid-feedback">
                    <div *ngIf="hoa.errors.required">HOA is required</div>
                </div>
                    </div> 


      
                  </div> 
                   <div class="form-row" >

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault12">Address</label>
                      <input class="form-control" name="address" type="text"  [(ngModel)]="model.address" #address="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && address.invalid }" required />
                <div *ngIf="homeRegister.submitted && address.invalid" class="invalid-feedback">
                    <div *ngIf="address.errors.required">Address required</div>
                </div>
                    </div> 

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault13">Location</label>
                      <input (click)="getLocation()" class="form-control" name="location" type="text"  [(ngModel)]="model.location" #location="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && location.invalid }" required />
                <div *ngIf="homeRegister.submitted && location.invalid" class="invalid-feedback">
                    <div *ngIf="location.errors.required">Location required</div>
                </div>
                    </div> 

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault14">Contact</label>
                      <input class="form-control" name="phoneNumber" type="number" [(ngModel)]="model.phoneNumber" onKeyPress="if(this.value.length>10) return false"  #phoneNumber="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && phoneNumber.invalid }" required />
                <div *ngIf="homeRegister.submitted && phoneNumber.invalid" class="invalid-feedback">
                    <div *ngIf="phoneNumber.errors.required">Contact is required</div>
                </div>
                    </div> 
                    
               
                  </div> 
                   <div class="form-row" >

                    <div class="col-md-3 mb-3">
                      <label for="validationDefault15">Home Description</label>
                      <textarea  class="form-control" name="description" type="text"  [(ngModel)]="model.description" #description="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && description.invalid }" required ></textarea>
                <div *ngIf="homeRegister.submitted && description.invalid" class="invalid-feedback">
                    <div *ngIf="description.errors.required">Description required</div>
                </div>
                    </div> 

               
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault16">Locality</label>
                      <input (click)="getLocation()" class="form-control" name="locality" type="text"  [(ngModel)]="model.locality" #locality="ngModel" [ngClass]="{ 'is-invalid': homeRegister.submitted && locality.invalid }" required />
                <div *ngIf="homeRegister.submitted && locality.invalid" class="invalid-feedback">
                    <div *ngIf="locality.errors.required">Locality required</div>
                </div>
                    </div> 
                 
                
                <div class="col-md-3 mb-3">
                  <form >
                    <label class="image-upload-container btn btn-bwm">
                      <span>Select Image</span>
                      <input #imageInput
                             type="file"
                             accept="image/*">
                             
                             <button class="btn btn-primary" (click)="processFile(imageInput)">Upload</button>
                    </label>
                  </form>                 
                    
                </div>
              </div> 
                <button class="btn btn-primary"   type="submit" id="submit"(tsSubmitIfValid)="onSubmit()">Submit form</button>
              </form>
              </div>
              
    </section>    
    </div>
    </div>
   <!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog"> -->

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p style="text-align: center;"><strong>Bingo !!! Form Submitted...</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->

 
 </html>