
<div class="row">
    <div class= "col-md-6 "> 
      <h1 mat-dialog-title>House Pictures</h1>
      <div class="  "> 
        <div class="card-group scrollbar force-overflow1" id="style-2">
          <div  >
            <div style=" z-index: 110;">
                <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                
            </div>  
            <br> 
          
            </div>
            
            <div class="col-6" >
                <div class="cardShadow">
                    <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                    
                    
                </div>   
              <br>
                </div>
               
                <div class="col-6" >
                    <div class="cardShadow">
                        <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                        
                    </div>
                    <br>   
                  
                    </div>
                    
                    <div class="col-6" >
                        <div class="cardShadow">
                            <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                           
                            
                        </div> 
                        <br>  
                      
                        </div>
                        
                        <div class="col-6" >
                            <div class="cardShadow">
                                <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                                
                            </div> 
                            <br>  
                          
                            </div>

                            <div class="col-6" >
                                <div class="cardShadow">
                                    <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                                    
                                </div> 
                                <br>  
                              
                                </div> <div class="col-6" >
                                    <div class="cardShadow">
                                        <img src="https://previews.123rf.com/images/bialasiewicz/bialasiewicz1507/bialasiewicz150700483/42198970-picture-of-beautiful-village-house-with-garden.jpg" class="card-img-top" alt="...">
                                        
                                    </div> 
                                    <br>  
                                  
                                    </div>
                            
    
          </div>
        </div>
    </div>


<div class= col-md-6> 
 
   <div style="clear:both ;margin-top: 3em;">
    <mat-toolbar >  
        <h2>  
        Willow  
        </h2>  
    </mat-toolbar>
        <h2 class="lineone"> {{itemName.Price|json}}</h2>
        <h6 class="linetwo">Beds:{{itemName.Beds|json}}|Bath:{{itemName.Bath|json}}|Sqft:{{itemName.Sqft|json}}</h6>
    </div>
        <p class="address "><strong>{{itemName.Address|json}}</strong></p>
        <p class="description ">{{itemName.description|json}}</p>

</div>